<div class="flex flex-col justify-center h-screen items-center">
  <div class="w-auto p-10 bg-slate-300 rounded-md flex flex-col bg-opacity-50">
    <h1 class="text-3xl mb-5 text-blue-800 font-extrabold">Atención al Cliente</h1>
    <h2 class="text-xl mb-5 text-blue-800 font-bold">Para ser atendido por favor, </h2>
    <label class="mt-5">Introduzca número de Identificación del cliente:
      <input type="text" [(ngModel)]="cedula" name="id" id="id">
    </label>
    <button [routerLink]="['/clientoptions',validarCedula(cedula)]"
      class="pt-2 pb-3 px-5 w-min mt-10 ml-auto rounded-lg bg-blue-800 text-white" type="submit">Siguiente</button>
  </div>
</div>