<div class="flex flex-col justify-center h-screen items-center">
  <div class="w-auto p-10 bg-slate-300 rounded-md bg-opacity-50">
    <h1 class="text-3xl mb-5 text-blue-800 font-extrabold">Bienvenidos a Internetsys</h1>
    <h2 class="text-xl mb-5 text-blue-800 font-bold">Atención al Cliente</h2>
    <p class="text-lg mb-5 text-blue-800">Somos la empresa líder en el mercadon de servicios de internet banda
      ancha.
    </p>
    <p class="text-lg mb-5 text-blue-800">Para ser atendido por nuestros asesores, tendrá que ingresar a nuestro
      sistema.</p>
    <div class="text-right">
      <a routerLink="/client"
        class="ml-auto hover:bg-blue-800 hover:text-white hover: cursor-pointer select-none text-lg  mt-10 bg-white rounded-lg px-5 py-3 text-blue-800 transition-all duration-500">Solicitar
        Atención
        al
        Cliente</a>
    </div>
  </div>
</div>